@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burger {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        padding-right: 10px;
        display: inline-block;
        width: 100px;
    }

    main {
        width: 720px;
    }
}

