@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F5B15F;
    background: url(../imagens/sugar-coffee.jpg) no-repeat;
    background-size: cover;
}

header {
    background-color: #c47924;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

span#burger {
    background-color: rgba(0, 0, 0, 0.37);
    display: block;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

span#burger:hover {
    background-color: white;
    color: black;
}

menu {
    display: none;

}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(99, 104, 138);
    color: white;
    border-top: 1px solid burlywood;
}

menu > ul > li > a:hover {
    background-color:  rgb(80, 88, 141);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    
    border-radius: 10px;
}

article {
    background-image: linear-gradient(to right, #E8AA64, #C47924);
    border-radius: 10px;
}

article > h2 {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;

}

article > p {
    text-indent: 20px;
    text-align: justify;
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    /*Contraste: 6.11 : 1 /*
}



