@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor_fundo: rgb(0, 68, 124);
}

body {
    background-color: var(--cor_fundo);
    background: url('../imagens/wood-blackground.jpg');
}

form {
    background: url('../imagens/wall-paper.jpg');
    margin: auto;
    width: 300px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
}

div.fora {
    position: relative;
    
}

div.dentro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

form > h3 {
    text-align: center;
    padding: 8px;
}

form > p {
    padding: 8px;
}